@tailwind base;
@tailwind components;
@tailwind utilities;

.ProseMirror {
    padding: 16px;
    border: 1px solid #ccc;
    border-radius: 8px;
    min-height: 150px;
    outline: none;
  }


  img {
    display: block;
    height: auto;
    margin: 1.5rem 0;
    max-width: 100%;

    &.ProseMirror-selectednode {
      outline: 3px solid var(--purple);
    }
  }

  